<!DOCTYPE html>

<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)

           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
-->

<html>
  <head>
    <title>Introducción a Git y Github</title>

    <meta charset='utf-8'>
    <script
      src='../slides.js'></script>
  </head>

  <style>
    /* Your individual styles here, or just use inline styles if that’s
       what you want. */


  </style>

  <body style='display: none'>

    <section class='slides layout-regular template-default'>

      <!-- Your slides (<article>s) go here. Delete or comment out the
           slides below. -->

      <!--<article class='biglogo'>
      </article>-->
      <!-- #1 -->
      <article>
        <h1>
           Introducción a Git y Github
        </h1>
        <p>
          <a href="http://javaguirre.net">Javier Aguirre</a>
          <br />
          <a href="http://twitter.com/mgdelacroix">Miguel de la Cruz</a>
          <br/>
          13 de Mar de 2012
          <br/>
        </p>
        <img src="../images/octobiwan.jpg" style="width: 250px; align: right; position: absolute; left: 500px;"/>
        <div class="source">
            <a href="http://cursos.gul.es">Cursos GUL</a> - Marzo 2012
        </div>
      </article>

      <article>
        <h3>Control de versiones</h3>
        <p>
            Gestión y actualización de versiones de nuestro proyecto
        </p>
        <p>
            <strong>Repositorio:</strong> Archivo de versiones de nuestro proyecto
        </p>
        <p>
            <strong>Versiones:</strong> Distintas actualizaciones de un proyecto
            que se archivan en el repositorio.
        </p>
        <p>Una versión nueva es un <strong>commit</strong></p>
      </article>

      <article>
        <img src="../images/baracktocat.jpg" style="width: 650px;" class="centered"/>
      </article>

      <article>
        <h3>Centralizado/distribuido</h3>
        <ul>
            <li>Repositorio principal</li>
            <li>Ramas</li>
            <li>Conflictos</li>
            <li>Colaboración sencilla</li>
        </ul>
      </article>

      <article>
        <h3>Introducción/Historia</h3>
        <ul>
            <li>Creado por Linus Torvalds</li>
            <li>Control de versiones distribuido</li>
            <li><em>Estándar de facto</em> en el mundo del SL</li>
        </ul>
      </article>

      <article>
        <h3>Funcionamiento</h3>
        <ul>
            <li>Control de ficheros</li>
            <li>Guardar nueva versión</li>
            <li>Sincronizacion de código</li>
            <li>Corrección de errores</li>
            <li>Despliegue del proyecto</li>
        </ul>
      </article>

      <!-- #3 -->
      <article>
        <h3>Instalación</h3>
        <pre>
#Linux
apt-get install git (git-core)
pacman -S git
yum install git

#Mac
brew install git

#Win
mSysGit
        </pre>
     </article>

	 <article>
		<h3>GitHub</h3>
		<p>Forja de proyectos de código abierto con tintes de Red Social</p>
		<br />
		<img src="../images/original.jpg" class="centered" width="400px" />
	 </article>

	 <article>
		<h3>Creación de una cuenta en GitHub</h3>
		<p><a href="http://github.com">GitHub.com</a></p>
		<br />
		<img src="../images/github.png" class="centered" width="800px" />
	 </article>

     <article>
        <h3>Creación de un repositorio en GitHub</h3>
        <p>Generación de un par de claves RSA</p>
        <pre>
ssh-keygen -t rsa -C "your_email@example.com"
        </pre>
        <p>Creación del proyecto</p>
        <pre>
# Creamos una carpeta miproyecto e iniciamos el repositorio
git init miproyecto
# o lo clonamos desde una URI existente
git clone uri_proyecto
        </pre>
      </article>

      <article>
        <h3>Primera versión</h3>
        <pre>
touch README  # añadimos algo de información
git add README
git commit -m 'Primera version'
        </pre>
        <img src="../images/pythocat.jpg" style="width: 250px;" class="centered"/>
      </article>

      <!-- #4 -->
      <article>
        <h3>
        Manejo de archivos
        </h3>
        <p>Manejando los archivos sometidos a versiones</p>
        <pre>
# Añadir archivo
git add archivonuevo

# Eliminar archivo
git rm archivoviejo

# Mover archivo
git mv archivoviejo archivonuevo
        </pre>
        <!-- <div class="source">
            Fuente: <a href=""></a>
	</div> -->
      </article>

	  <article>
		<h3>.gitignore</h3>
		<p>Fichero en el que podemos indicar los archivos que nunca querremos en nuestro repositorio</p>
		<ul>
			<li>Útil para ficheros compilados o metadatos</li>
			<li>Usa <strong>wildcards</strong></li>
		</ul>
		<br />
		<pre>
$ cat .gitignore
*.pyc
directorio_que_no_quiero/
		</pre>
	  </article>

	  <article>
	  	<h3>Manejo de Repositorios</h3>
		<h4>Añadimos un repositorio remoto</h4>
		<pre>
git remote add nombre_repositorio URI
		</pre>
		<h4>Listamos nuestros repositorios remotos</h4>
		<pre>
git remote -vv
		</pre>
		<h4>Eliminamos un repositorio remoto</h4>
		<pre>
git remote rm nombre_repositorio
		</pre>
	  </article>

      <article>
        <h3>
            Log
        </h3>
        <p>¿Qué hay en nuestro proyecto?</p>
        <pre>
git log  # Lista los últimos commits
git log -n 30  # 30 ultimos commits
git log -p  # ultimos cambios en codigo
git log --stat  # ultimos cambios en archivos
        </pre>
      </article>
      <article>
        <h3>
            Revertir cambios
        </h3>
        <p>Volvemos atrás en nuestro código</p>
        <pre>
git checkout [HASH] archivos
git reset --hard SHA  # no hemos creado una nueva versión
git revert HEAD  # crea un nuevo commit
        </pre>
      </article>
      <article>
        <h3>
            Sincronización remota
        </h3>
        <pre>
#Actualiza copia local
git pull repo_remoto rama

#Actualiza copia remota
git push repo_remoto rama

#Actualizando objetos de la copia local
git fetch
git merge repo_remoto rama
      </pre>
      </article>

      <article>
      <h3>Parcheando</h3>
      <pre>
# Creamos un parche con la diferencia
git diff archivos > miarchivo.patch

# Aplicamos el parche en nuestro repo
git apply miarchivo.patch
      </pre>
      </article>

      <article>
          <h3>Ramas - Funcionalidad</h3>
          <p>Creamos una nueva funcionalidad en nuestro proyecto</p>
          <pre>
git branch mi_nueva_funcionalidad
git checkout mi_nueva_funcionalidad
          </pre>
          <p>Cuando acabemos podemos unirla a principal</p>
          <pre>
# Volvemos al proyecto principal
git checkout master
# Nos traemos los cambios de la
# nueva funcionalidad estable
git merge mi_nueva_funcionalidad
# Conflicto!
# o
# Si todo va bien...
git push origin master
          </pre>
      </article>

      <article>
        <h3>Conflictos!</h3>
        <pre>
git checkout --ours filename.c
git checkout --theirs filename.c

git show :1:file.txt  # la unión de ambas
git show :2:file.txt  # mi version.
git show :3:file.txt  # la versión obtenida

# Finalmente..
git add archivos
git commit
git push origin master
        </pre>
      </article>

      <article>
        <h3>Más Github!</h3>
        <ul>
			<li><a href="http://develop.github.com/">API</a></li>
            <li>Bibliotecas API distintos lenguajes</li>
            <li>Gestión de grupos</li>
            <li>Bug tracker</li>
            <li>Wiki integrada</li>
            <li>Comparación de imágenes...</li>
            <li>Snippets de código (Gist)</li>
        </ul>
        <div class="source">
            <a href="http://help.github.com/">Documentación</a>
        </div>
      </article>

      <article>
        <h3>
            Referencias
        </h3>
        <ul>
            <li><a href="http://www-cs-students.stanford.edu/~blynn/gitmagic/intl/es/"</a>Git Magic</li>
            <li><a href="http://help.github.com/">Github Help</a></li>
        </ul>
        <br />
        <p>Presentación en... <a href="https://github.com/javaguirre/slides-git-github">github</a></p>
      </article>

	  <article>
		<h3>Cloud 9 IDE</h3>
		<p>IDE en la nube</p>
		<p><a href="https://github.com/ajaxorg/cloud9/">Repositorio en GitHub</a></p>
		<br />
		<img src="../images/C9logo.png" width="300px" class="centered" />
	  </article>

	  <article>
		<h3>Heroku</h3>
		<p>Plataforma de Deploy en la nube</p>
		<ul>
			<li>Definimos las dependencias en un fichero</li>
			<li>Hacemos push a heroku</li>
			<li>Listo</li>
		</ul>
		<br />
		<img src="../images/herokulogo.png" class="centered" />
	  </article>

      <article>
        <h3>Despliegue</h3>
        <pre>
gem install heroku

#Heroku
heroku login
heroku create --stack cedar
git push heroku master
        </pre>
        <img src="../images/spocktocat.jpg" style="width: 250px;" class="centered"/>
      </article>

	  <article>
	  	<h1>Taller</h1>
	  </article>

      <article>
        <h3>
          ¿Preguntas?
        </h3>

        <ul>
          <li>
            <a href='http://twitter.com/javaguirre'>@javaguirre</a>
          </li>
          <li>
            <a href='http://twitter.com/mgdelacroix'>@mgdelacroix</a>
          </li>
        </ul>
        <img src="../images/nyantocat.gif" style="width: 300px; margin-top: 100px;" class="centered"/>
      </article>

    </section>

  </body>
</html>
